<p-toast position="top-right" />

<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- SIDEBAR -->
    <ion-menu contentId="main-content" menuId="main-menu">
      <ion-header>
        <ion-toolbar>
          <ion-title class="logo-title">
            <i class="pi pi-send" style="font-size: 1.3rem; margin-right: 8px;"></i>
            GPI Tracker
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems; let i = index">
            <ion-item
              [routerLink]="item.route"
              routerLinkActive="active-item"
              button
              detail="false">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label class="menu-label">{{ item.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-item
            *ngFor="let item of bottomItems"
            [routerLink]="item.route"
            routerLinkActive="active-item"
            button
            detail="false">
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            <ion-label class="menu-label">{{ item.label }}</ion-label>
          </ion-item>

          <ion-item
            lines="none"
            button
            detail="false"
            (click)="onLogout($event)"
            class="logout-item">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label class="menu-label">Déconnexion</ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!-- MAIN CONTENT -->
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="main-navbar-toolbar">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <div class="toolbar-center">
            <span class="page-title-text">Espace Administration</span>
          </div>

          <ion-buttons slot="end">
            <div class="navbar-avatar-btn" (click)="goToProfile()">
              {{ avatarInitials }}
            </div>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <router-outlet></router-outlet>
      </ion-content>
    </div>

  </ion-split-pane>
</ion-app>